.title {
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: rgb(0, 0, 0); /* Text color */
}
.byline {
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-fill: rgb(0, 0, 0); /* Text color */
}

.about {
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: rgb(0, 0, 0); /* Text color */
}

.text-area {
    -fx-pref-width: 500px;
    -fx-pref-height: 300px;
    -fx-font-size: 16px;
}